        <% @post.comments.order(created_at: :desc).each do |comment| %>
            <div class="media py-3 border-bottom comment-items" data-comment-id = <%= comment.id %> >
                <img src="<%= comment.user.avatar.present? ? comment.user.avatar.url : "/images/default-avatar.png"  %>" class="avatar-xs mr-3 rounded-circle" alt="img">
                <div class="media-body current-comment">
                    <div class="d-flex justify-content-between body-comment">
                        <div class = "user-comment">
                            <h5 class="mt-0 mb-1 font-size-15"><%= comment.user.name %></h5>
                              <p class="text-muted this-comment"><%= comment.body %></p>
                        </div>
                        <% if  user_signed_in? && comment.user.id == current_user.id %>
                            <div class="option-comment">
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#" class="dropdown-item edit-comment"><i class="mdi mdi-pencil font-size-16 text-success mr-1"></i> Edit</a></li>
                                        <li><a href="#" class="dropdown-item delete-comment"><i class="mdi mdi-trash-can font-size-16 text-danger mr-1"></i> Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        <% end %>
                        
                    </div>
                    <div class="border-bottom form-edit-comment">                   
                    </div>
                        <ul class="list-inline float-sm-right mb-sm-0">
                            <li class="list-inline-item">
                                <a href="#"><i class="far fa-thumbs-up mr-1"></i> <%= comment.like %></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="far fa-thumbs-down mr-1"></i> <%= comment.dislike %></a>
                            </li>

                            <li class="list-inline-item">
                                <% if user_signed_in? %>
                                    <a href="#" class="toggle-repcomment"><i class="far fa-comment-dots mr-1"></i> Trả lời</a>
                                <% end %>
                            </li>
                        </ul>
                    
                     <div class="text-muted font-size-12 time-ago"><i class="far fa-calendar-alt text-primary mr-1 "></i> <%= time_ago_in_words(comment.created_at) %></div>
                       
                        <% comment.replycomments.order(created_at: :desc).each do |repcomment| %>
                             <div class="media mt-4">
                                <img src="<%= repcomment.user.avatar.present? ? repcomment.user.avatar.url : "/images/default-avatar.png" %>" class="avatar-xs mr-3 rounded-circle" alt="img">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1 font-size-15"><%= repcomment.user.name %></h5>
                                    <p class="text-muted"><%= repcomment.body %></p>
                                    <ul class="list-inline float-sm-right mb-sm-0">
                                        <li class="list-inline-item">
                                            <a href="#"><i class="far fa-thumbs-up mr-1"></i> <%= repcomment.like? ? repcomment.dislike : 0  %></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#"><i class="far fa-thumbs-down mr-1"></i> <%= repcomment.dislike? ? repcomment.dislike : 0  %></a>
                                        </li>
                                       
                                    </ul>
                                    <div class="text-muted font-size-12"><i class="far fa-calendar-alt text-primary mr-1"></i> <%= time_ago_in_words(repcomment.created_at) %></div>
                                </div>
                            </div>
                        <% end %>
                  
                     </div>
            </div>
        <% end %>