     <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex">
                                    <div class="media">
                                        <img src="<%= @user.avatar.present? ? @user.avatar.url : "/images/default-avatar.png"  %>" alt="" class="avatar-sm mr-4 rounded-circle">

                                        <div class="media-body overflow-hidden">
                                            <h2 class="text-truncate "><%= @user.name %></h2>
                                            <p class="text-muted"><%= @user.email %></p>
                                        </div>
                                        
                                            <div class="px-2">
                                               
                                                <% if current_user.present? && current_user.followed_ids.include?(@user.id) %>
                                                         <%= link_to "Hủy theo dõi", destroy_friendship_author_path(@user), method: "post", class: "btn btn-outline-primary btn-sm btn-follow" %>
                                                <% else %>
                                                         <% if !current_user.present? %>
                                                            <a href="<%= user_session_path %>" class="btn btn-outline-primary btn-sm">Theo dõi</a>
                                                        <% else %>
                                                               <%= link_to "Theo dõi", create_friendship_author_path(@user), method: "post",    class: "btn btn-outline-primary btn-sm btn-follow" %>
                                                         <% end %>
                                                <% end %>
                                            </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        
                                        <div class="crypto-buy-sell-nav">
                                            <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link " data-toggle="tab" href="#post" role="tab">
                                                        Bài viết
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#follows" role="tab">
                                                        Người theo dõi
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#followeds" role="tab">
                                                        Đang theo dõi
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#1" role="tab">
                                                        Chủ đề 
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#2" role="tab">
                                                        Tag
                                                    </a>
                                                </li>
                                            </ul>

                                            <div class="tab-content crypto-buy-sell-nav-content px-4">
                                                <div class="tab-pane active" id="post" role="tabpanel">
                                                    
                                                    <!-- post item here -->
                                                        <div class="text-right p-0">
                                                            <a href="#" class="btn btn-link px-1 only-tittle" data-toggle="tooltip" data-original-title="Only Title"><h4><i class="bx bx-list-ul"></i></h4></a>
                                                            <a href="#" class="btn btn-link px-1 with-summary" data-toggle="tooltip" data-original-title="With Summary"><h4><i class="bx bx-news"></h4></i></a>
                                                        </div>
                                                        <% @user.posts.each do |post| %>
                                                            <div class="post-item shadow mb-2">
                                                                <div class="item-head d-flex align-item-center">
                                                                    <div class="author-avatar bg-white p-1 rounded">
                                                                        <img <% if post.user.avatar_file_size.nil?  %>
                                                                                src="/images/default-avatar.png"
                                                                                <% else %>
                                                                                    src="<%=  post.user.avatar.url %>"
                                                                                <% end  %>
                                                                        
                                                                        class="img-fluid rounded-circle avatar_author_post">
                                                                    </div>
                                                                    <div class="post-meta ml-2 flex-grow-1 py-2">
                                                                        <div class="d-flex align-items-center justify-content-between">
                                                                            <div class="post-detal">
                                                                            <div class="author-info pb-2 position-relative">
                                                                                        <div class="user-name">
                                                                                            <a href="#" class="show-info-user"  data-id-user="<%= post.user.id %> " data-status-login="<%= user_signed_in? %>"><%= post.user.name %> </a>
                                                                                                <span class="mx-2">-</span>
                                                                                            <p class="mb-0 d-inline-block"><%= time_ago_in_words(post.created_at) %></p>
                                                                                            <span class="mx-3">-</span>
                                                                                            <span>Khoảng <%= post.readtime %> phút đọc</span>
                                                                                        </div> 
                                                                                </div>
                                                                                <div>
                                                                                    <h5 class="d-inline mb-0">
                                                                                        <a href="<%= post_path(post) %>" class="text-dark text-capitalize">
                                                                                            <%= post.title %>
                                                                                        </a>
                                                                                    </h5>
                                                                                    <div class="list_tag">
                                                                                            <% post.tags.each do |tag| %>
                                                                                                <a href="#" class="badge badge-soft-primary font-size-11 m-1 p-2"><%= tag.name %></a>
                                                                                            <% end %>
                                                                                    </div>
                                                                                </div>
                                                                                <ul class="list-inline float-sm-left my-1 w-100">
                                                                                    <li class="list-inline-item">
                                                                                        <i class="mdi mdi-eye-outline " data-toggle="tooltip" data-original-title="Views" 
                                                                                        aria-describedby="tooltip323106"></i> <%= post.views %>
                                                                                    
                                                                                    </li>
                                                                                    <li class="list-inline-item">
                                                                                        <i class="mdi mdi-comment-text-multiple " data-toggle="tooltip" data-original-title="Comments" 
                                                                                        aria-describedby="tooltip323106"></i> <%= post.comments.count %>
                                                                                    </li>
                                                                                    <li class="list-inline-item">
                                                                                        <div class="list_author_comment d-flex">
                                                                                            <% post.comments.select(:user_id).distinct.each do |comment| %>
                                                                                                <div class=" rounded mx-1">
                                                                                                    <a href="#"  data-toggle="tooltip" data-original-title="<%= comment.user.name %>">
                                                                                                        <img src="<%= comment.user.avatar.url %>" class="img-fluid rounded-circle avatar_author_comment" >
                                                                                                    </a>
                                                                                                </div>
                                                                                            <% end %>
                                                                                        </div>
                                                                                    </li>
                                                                                    
                                                                                </ul>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div class="item-content mt-2">
                                                                    <div class="summary d-none">
                                                                        <%= post.summary %>
                                                                    </div>
                                                                    <div class="tag"></div>
                                                                </div>

                                                            </div>
                                                        <% end %>
                                                </div>

                                                <div class="tab-pane" id="follows" role="tabpanel">
                                                <div class="row">
                                                    <% @user.followers.each do |user| %>
                                                    <div class="col-xl-3 col-sm-6">
                                                        <div class="p-3">
                                                            <div class="d-flex align-items-center">
                                                                <div>
                                                                    <img src="<%= user.avatar.present? ? user.avatar.url : "/images/default-avatar.png"  %>" class="avatar-follow">
                                                                </div>
                                                                <div class="ml-2">
                                                                    <h5 class="text-left mb-0"><a href="<%= author_path(user) %>"><%= user.name %></a></h5>
                                                                    <p class="mb-0"><%= user.email %></p>
                                                                    <div class="d-flex">
                                                                        <div class="mr-3">
                                                                            <span class="mdi mdi-pencil"></span>
                                                                            <span><%= user.posts.count %></span>
                                                                        </div>
                                                                        <div class="mr-3">
                                                                            <span class="mdi mdi-account-multiple-plus"></span>
                                                                            <span><%= user.followers.count %></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr class="my-1"/>
                                                            <div class="d-flex align-items-center justify-content-between py-2">
                                                                <div>
                                                                    <!--  -->
                                                                </div>
                                                                <div>
                                                                    <% if current_user.present? && current_user.followed_ids.include?(user.id) %>
                                                                          <%= link_to "Hủy theo dõi", destroy_friendship_author_path(user) , method: "post", class: "btn btn-outline-primary btn-sm btn-follow" %>
                                                                    <% else %>
                                                                        <%= link_to "Theo dõi", create_friendship_author_path(user) , method: "post", class: "btn btn-outline-primary btn-sm btn-follow" %>
                                                                    <% end %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% end %>
                                                </div>
                                                </div>
                                                <div class="tab-pane" id="followeds" role="tabpanel">
                                                    <div class="row">
                                                        <% if !@user.followeds.blank? %>
                                                            <% @user.followeds.each do |user| %>
                                                                    <div class="col-xl-3 col-sm-6">
                                                                        <div class="p-3">
                                                                            <div class="d-flex align-items-center">
                                                                                <div>
                                                                                    <img src="<%= user.avatar.present? ? user.avatar.url : "/images/default-avatar.png"  %>" class="avatar-follow">
                                                                                </div>
                                                                                <div class="ml-2">
                                                                                    <h5 class="text-left mb-0"><a href="<%= author_path(user) %>"><%= user.name %></a></h5>
                                                                                    <p class="mb-0"><%= user.email %></p>
                                                                                    <div class="d-flex">
                                                                                        <div class="mr-3">
                                                                                            <span class="mdi mdi-pencil"></span>
                                                                                            <span><%= user.posts.count %></span>
                                                                                        </div>
                                                                                        <div class="mr-3">
                                                                                            <span class="mdi mdi-account-multiple-plus"></span>
                                                                                            <span><%= user.followers.count %></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <hr class="my-1"/>
                                                                            <div class="d-flex align-items-center justify-content-between py-2">
                                                                                <div>
                                                                                    <!--  -->
                                                                                </div>
                                                                            <div>
                                                                                <% if current_user.present? && current_user.followed_ids.include?(user.id) %>
                                                                                <%= link_to "Hủy theo dõi", destroy_friendship_author_path(user), method: "post", class: "btn btn-outline-primary btn-sm btn-follow" %>
                                                                                
                                                                                <% else %>
                                                                                    <%= link_to "Theo dõi", create_friendship_author_path(user), method: "post",    class: "btn btn-outline-primary btn-sm btn-follow" %>
                                                                                    
                                                                                <% end %>
                                                                            </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <% end %>
                                                        <% else  %>
                                                            <div class="text-center w-100 h-100 py-5">
                                                                <p >Không có gì ở đây</p>
                                                            </div>
                                                        <% end %>
                                                    </div>
                                                    </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>