<div class="topnav">
                    <div class="container-fluid">
                        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
    
                            <div class="collapse navbar-collapse" id="topnav-menu-content">
                                <ul class="navbar-nav justify-content-between w-100">

                                    <div class="nav-menu d-lg-flex">
                                        <li class="nav-item ">
                                            <a class="nav-link " href="<%= categories_path %>" id="topnav-dashboard" >
                                                <i class="mdi mdi-file "></i> <strong>Danh mục (<%= Category.all.count %>) </strong>
                                            </a>
                                            
                                        </li>
        
                                        <li class="nav-item dropdown">
                                            <a class="nav-link " href="#" id="topnav-uielement" >
                                                <i class="mdi mdi-pencil mr-1   "></i><strong>Bài viết (<%= Post.all.count %>) </strong> 
                                            </a>
                                        </li>
        
                                        <li class="nav-item dropdown">
                                            <a class="nav-link " href="#" id="topnav-uielement" >
                                                <i class="mdi mdi-ethernet mr-1"></i><strong>Đang theo dõi </strong> 
                                            </a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link " href="<%= chat_path %>" id="topnav-uielement" >
                                                <i class="mdi mdi-ethernet mr-1"></i><strong>Chat </strong> 
                                            </a>
                                        </li>
                                    </div>               
                                    <div class="new-post d-flex align-items-center">
                                        <li class="nav-item ">
                                            <a class="dropdown-toggle  btn btn-info" href="<%= new_admin_post_path %>" id="topnav-layout">
                                                <i class="bx bx-layout dripicons-pencil mr-2"></i>Viết bài 
                                            </a>
                                        </li>
                                    </div>
    
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>