<div class="row">
   
    <div class="col-12 col-lg-8" id="list_post">
       
        <%= render partial: 'list_post' %>
        <%= render partial: 'paginate' %>
    </div>
    <div class="col-12 col-lg-4 position-relative">
         <%= render partial: 'list_post_viewest' %>
    </div>

</div>

<!-- end row -->

<%= render partial: 'categories/list' %>

<%= render partial: 'categories/load_more' %>

                  