        <div class="row">
        
            <div class="col-12 col-lg-8" id="list_post">
            
                <!-- post item here -->
        <div class="text-right">
            <a href="#" class="btn btn-link px-1 only-tittle" data-toggle="tooltip" data-original-title="Only Title"><h4><i class="bx bx-list-ul"></i></h4></a>
            <a href="#" class="btn btn-link px-1 with-summary" data-toggle="tooltip" data-original-title="With Summary"><h4><i class="bx bx-news"></h4></i></a>
        </div>
        <% @posts.each do |post| %>
            <div class="post-item shadow mb-2">
                <div class="item-head d-flex align-item-center">
                    <div class="author-avatar bg-white p-1 rounded">
                        <img <% if post.user.avatar_file_size.nil?  %>
                                src="/images/default-avatar.png"
                                <% else %>
                                    src="<%=  post.user.avatar.url %>"
                                <% end  %>
                        
                        class="img-fluid rounded-circle avatar_author_post">
                    </div>
                    <div class="post-meta ml-2 flex-grow-1 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="post-detal">
                            <div class="author-info pb-2 position-relative">
                                        <div class="user-name">
                                            <% if user_signed_in? %>
                                                <a href="<%= author_path(post.user) %>" class="show-info-user" 
                                                data-follower-check="<%= post.user.follower_ids.include? current_user.id %>" 
                                                data-id-user="<%= post.user.id %>" data-status-login="<%= user_signed_in? %>">
                                                <%= post.user.name %> </a>
                                            <% else %>
                                                <a href="<%= author_path(post.user) %>" class="show-info-user" 
                                                data-follower-check="false"
                                                data-id-user="<%= post.user.id %>" data-status-login="<%= user_signed_in? %>">
                                                <%= post.user.name %> </a>
                                            <% end %>
                                                <span class="mx-2">-</span>
                                            <p class="mb-0 d-inline-block"><%= time_ago_in_words(post.created_at) %></p>
                                            <span class="mx-3">-</span>
                                            <span>Khoảng <%= post.readtime %> phút đọc</span>
                                        </div> 
                                </div>
                                <div>
                                    <h5 class="d-inline mb-0">
                                        <a href="<%= post_path(post) %>" class="text-dark text-capitalize">
                                            <%= post.title %>
                                        </a>
                                    </h5>
                                    <div class="list_tag">
                                            <% post.tags.each do |tag| %>
                                                <a href="#" class="badge badge-soft-primary font-size-11 m-1 p-2"><%= tag.name %></a>
                                            <% end %>
                                    </div>
                                </div>
                                <ul class="list-inline float-sm-left my-1 w-100">
                                    <li class="list-inline-item">
                                        <i class="mdi mdi-eye-outline " data-toggle="tooltip" data-original-title="Views" 
                                        aria-describedby="tooltip323106"></i> <%= post.views %>
                                    
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="mdi mdi-comment-text-multiple " data-toggle="tooltip" data-original-title="Comments" 
                                        aria-describedby="tooltip323106"></i> <%= post.comments.count %>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="list_author_comment d-flex">
                                            <% post.comments.select(:user_id).distinct.each do |comment| %>
                                                <div class=" rounded mx-1">
                                                    <a href="#"  data-toggle="tooltip" data-original-title="<%= comment.user.name %>">
                                                        <img src="<%= comment.user.avatar.url %>" class="img-fluid rounded-circle avatar_author_comment" >
                                                    </a>
                                                </div>
                                            <% end %>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="item-content mt-2">
                    <div class="summary d-none">
                        <%= post.summary %>
                    </div>
                    <div class="tag"></div>
                </div>

            </div>
        <% end %>
            <%= paginate @posts, 
                theme: 'twitter-bootstrap-4',
                pagination_class: "pagination justify-content-center",
                nav_class: "d-inline-b page-paginate"  
            %>
    </div>
    <div class="col-12 col-lg-4 position-relative">
              <div class="card list-posts-views" >
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Bài viết nổi bật</h4>

                                        <div class="table-responsive">
                                            <table class="table table-centered ">
                                                <tbody>
                                                <% @posts_viewest.each do |post| %>
                                                    <tr>
                                                        <td>
                                                            <h5 class="font-size-14 m-0"><a href="<%= post_path(post) %>" class="text-dark"><%= post.title %></a>
                                                            </h5>
                                                             <ul class="list-inline float-sm-left my-2 w-100">
                                                                <li class="list-inline-item">
                                                                    <i class="mdi mdi-eye-outline " data-toggle="tooltip"
                                                                     data-original-title="View"></i> <%= post.views %>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <i class="mdi mdi-comment-text-multiple  " data-toggle="tooltip"
                                                                     data-original-title="Comment"></i> <%= post.comments.count %>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <i class="mdi mdi-table-edit" data-toggle="tooltip"
                                                                     data-original-title="Point"></i> <%= post.vote_point %>
                                                                </li>
                                                            </ul>
                                                            <ul class="list-inline float-sm-left my-2 w-100">
                                                                <a href="#" class="text-dark"><%= post.user.name %></a>
                                                            </ul>
                                                        </td>

                                                    </tr>
                                                <% end %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
    </div>

</div>

<!-- end row -->


                  