
     

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Chat</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Skote</a></li>
                    <li class="breadcrumb-item active">Chat</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="d-lg-flex">
    <div class="chat-leftsidebar mr-lg-4">
        <div class="">
            <div class="py-4 border-bottom">
                <div class="media">
                    <div class="align-self-center mr-3">
                        <% if current_user.avatar.present?   %>
                                <%= image_tag current_user.default_avatar , class: 'rounded-circle header-profile-user' %>
                        <% else %>
                                <img class="rounded-circle header-profile-user"
                                      src="/admin/assets/images/users/avatar-1.jpg" alt="Header Avatar">
                        <% end %>
                    </div>
                    <div class="media-body your-name" data-current_user="<%= @current_user.name %>">
                        <h5 class="font-size-15 mt-0 mb-1"><%= @current_user.name %></h5>
                        <p class="text-muted mb-0"><i class="mdi mdi-circle text-success align-middle mr-1"></i> Active</p>
                    </div>

                    <div>
                        <div class="dropdown chat-noti-dropdown active">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bx bx-bell bx-tada"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="search-box chat-search-box py-4">
                <div class="position-relative">
                    <input type="text" class="form-control" placeholder="Search...">
                    <i class="bx bx-search-alt search-icon"></i>
                </div>
            </div>

            <div class="chat-leftsidebar-nav">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a href="#chat" data-toggle="tab" aria-expanded="true" class="nav-link active">
                            <i class="bx bx-chat font-size-20 d-sm-none"></i>
                            <span class="d-none d-sm-block">Chat</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#group" data-toggle="tab" aria-expanded="false" class="nav-link">
                            <i class="bx bx-group font-size-20 d-sm-none"></i>
                            <span class="d-none d-sm-block">Group</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" data-toggle="tab" aria-expanded="false" class="nav-link">
                            <i class="bx bx-book-content font-size-20 d-sm-none"></i>
                            <span class="d-none d-sm-block">Contacts</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane show active" id="chat">
                        <div>
                            <h5 class="font-size-14 mb-3">Recent</h5>
                            <ul class="list-unstyled chat-list" data-simplebar="" style="max-height: 410px;">
                                <% @list.each do |user| %>
                                  <li class="active">
                                    <a href="<%= user.send_message_to_me(true) %>">
                                        <div class="media">
                                            <div class="align-self-center mr-3">
                                                <i class="mdi mdi-circle text-success font-size-10"></i>
                                            </div>
                                            <div class="align-self-center mr-3">
                                                <% if user.avatar.present?   %>
                                                    <%= image_tag user.default_avatar , class: 'rounded-circle header-profile-user' %>
                                            <% else %>
                                                    <img class="rounded-circle header-profile-user"
                                                        src="/admin/assets/images/users/avatar-1.jpg" alt="Header Avatar">
                                            <% end %>
                                            </div>
                                            
                                            <div class="media-body overflow-hidden">
                                                <h5 class="text-truncate font-size-14 mb-1"><%= user.name %></h5>
                                                <p class="text-truncate mb-0 last-message" data-last-message="<%= user.id %>"><%= current_user.remote_user_last_messagese(user.id)&.content %></p>
                                            </div>
                                            <div class="font-size-11 time-ago-mess" data-time-ago-message="<%= user.id %>"><%= time_ago_in_words(@remote_user_last_messages&.created_at.presence || Time.now) %></div>
                                        </div>
                                    </a>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>

                    <div class="tab-pane" id="group">
                        <div class="d-flex justify-content-between align-items-center">
                          <h5 class="font-size-14 mb-3">Group</h5>
                          <button type="button" class="btn btn-primary btn-sm btn-rounded" data-toggle="modal" data-target=".exampleModal">
                              <i class="mdi mdi-plus"></i>
                              New
                          </button>
                        </div>
                        <ul class="list-unstyled chat-list" data-simplebar="" style="max-height: 410px;">
                          <% @rooms.each do |room| %>
                            <li>
                                <a href="#">
                                    <div class="media align-items-center">
                                        <div class="avatar-xs mr-3">
                                            <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                                G
                                            </span>
                                        </div>
                                        
                                        <div class="media-body">
                                            <h5 class="font-size-14 mb-0"><%= room.name %></h5>
                                        </div>
                                    </div>
                                </a>
                            </li>
                          <% end %>
                        </ul>
                    </div>

                    <div class="tab-pane" id="contact">
                        <h5 class="font-size-14 mb-3">Contact</h5>

                        <div data-simplebar="" style="max-height: 410px;">
                            <div>
                                <div class="avatar-xs mb-3">
                                    <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                        A
                                    </span>
                                </div>

                                <ul class="list-unstyled chat-list">
                                    <li>
                                        <a href="#">
                                            <h5 class="font-size-14 mb-0">Adam Miller</h5>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <h5 class="font-size-14 mb-0">Alfonso Fisher</h5>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="mt-4">
                                <div class="avatar-xs mb-3">
                                    <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                        B
                                    </span>
                                </div>

                                <ul class="list-unstyled chat-list">
                                    <li>
                                        <a href="#">
                                            <h5 class="font-size-14 mb-0">Bonnie Harney</h5>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="mt-4">
                                <div class="avatar-xs mb-3">
                                    <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                        C
                                    </span>
                                </div>

                                <ul class="list-unstyled chat-list">
                                    <li>
                                        <a href="#">
                                            <h5 class="font-size-14 mb-0">Charles Brown</h5>
                                        </a>
                                        <a href="#">
                                            <h5 class="font-size-14 mb-0">Carmella Jones</h5>
                                        </a>
                                        <a href="#">
                                            <h5 class="font-size-14 mb-0">Carrie Williams</h5>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="mt-4">
                                <div class="avatar-xs mb-3">
                                    <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                        D
                                    </span>
                                </div>

                                <ul class="list-unstyled chat-list">
                                    <li>
                                        <a href="#">
                                            <h5 class="font-size-14 mb-0">Dolores Minter</h5>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="w-100 user-chat">
        <div class="card">
            <div class="p-4 border-bottom ">
                <div class="row">
                    <div class="col-md-4 col-9 send-to-user" data-user-remote="<%= @to_user_id.id %>" data-remoteUserName="<%= @to_user_id.name %>">
                        <h5 class="font-size-15 mb-1"><%= @to_user_id.name %></h5>
                        <p class="text-muted mb-0"><i class="mdi mdi-circle text-success align-middle mr-1"></i> Active now</p>
                    </div>
                    <div class="col-md-8 col-3">
                        <ul class="list-inline user-chat-nav text-right mb-0">
                            <li class="list-inline-item d-none d-sm-inline-block">
                                <div class="dropdown">
                                    <button class="btn nav-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bx-search-alt-2"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-md">
                                        <form class="p-3">
                                            <div class="form-group m-0">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <li class="list-inline-item  d-none d-sm-inline-block">
                                <div class="dropdown">
                                    <button class="btn nav-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bx-cog"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">View Profile</a>
                                        <a class="dropdown-item" href="#">Clear chat</a>
                                        <a class="dropdown-item" href="#">Muted</a>
                                        <a class="dropdown-item" href="#">Delete</a>
                                    </div>
                                </div>
                            </li>

                            <li class="list-inline-item">
                                <div class="dropdown">
                                    <button class="btn nav-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bx-dots-horizontal-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else</a>
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>


            <div>
                <div class="chat-conversation p-3">
                    <ul class="list-unstyled" data-simplebar="" style="max-height: 470px;">
                        <li> 
                            <div class="chat-day-title">
                                <span class="title">Today</span>
                            </div>
                        </li>
                        <% @history_messages.each do |mess| %>
                          <% if mess.from_user_id == current_user.id %>
                            <li class="right">
                              <div class="conversation-list">
                                  <div class="dropdown">

                                      <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="bx bx-dots-vertical-rounded"></i>
                                        </a>
                                      <div class="dropdown-menu">
                                          <a class="dropdown-item" href="#">Copy</a>
                                          <a class="dropdown-item" href="#">Save</a>
                                          <a class="dropdown-item" href="#">Forward</a>
                                          <a class="dropdown-item" href="#">Delete</a>
                                      </div>
                                  </div>
                                  <div class="ctext-wrap">
                                      <div class="conversation-name"><%= @current_user.name %></div>
                                      <p>
                                          <%= mess.content %>
                                      </p>

                                      <p class="chat-time mb-0"><i class="bx bx-time-five align-middle mr-1"></i> 10:07</p>
                                  </div>
                              </div>
                            </li>
                          <% else%>
                            <li>
                              <div class="conversation-list">
                                  <div class="dropdown">

                                      <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="bx bx-dots-vertical-rounded"></i>
                                        </a>
                                      <div class="dropdown-menu">
                                          <a class="dropdown-item" href="#">Copy</a>
                                          <a class="dropdown-item" href="#">Save</a>
                                          <a class="dropdown-item" href="#">Forward</a>
                                          <a class="dropdown-item" href="#">Delete</a>
                                      </div>
                                  </div>
                                  <div class="ctext-wrap">
                                      <div class="conversation-name"><%= @to_user_id.name %></div>
                                      <p>
                                          <%= mess.content %>
                                      </p>
                                      
                                      <p class="chat-time mb-0"><i class="bx bx-time-five align-middle mr-1"></i> 10:06</p>
                                  </div>
                                  
                              </div>
                            </li>
                          <% end %>
                        <% end %>
                    </ul>
                </div>
                <div class="p-3 chat-input-section">
                    <div class="row">
                        <div class="col">
                            <div class="position-relative">
                                <input type="text" class="form-control chat-input" placeholder="Enter Message...">
                                <div class="chat-input-links">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Emoji"><i class="mdi mdi-emoticon-happy-outline"></i></a></li>
                                        <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Images"><i class="mdi mdi-file-image-outline"></i></a></li>
                                        <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Add Files"><i class="mdi mdi-file-document-outline"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary btn-rounded chat-send w-md waves-effect waves-light"><span class="d-none d-sm-inline-block mr-2">Send</span> <i class="mdi mdi-send"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- end row -->
<!-- Modal -->
<div class="modal fade exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Group</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="table-responsive">
                  <label for="validationCustom01">First name</label>
                 <input type="text" class="form-control chat-input" placeholder="Room Name..">
              </div>
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary creat-group" type="submit">Create Room</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>
